
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CandidateLayout</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/CandidateStylele.css" rel="stylesheet" />
</head>
<body>

    <ul class="unorderdlist">



        <li class="list">@Html.ActionLink("Logout", "Logout", "Candidate", new { area = "" })</li>
        <li class="list">@Html.ActionLink("Account", "Getuserdetails", "Candidate", new { area = "" })</li>
        <li class="list">@Html.ActionLink("My Applications", "Viewmyapplication", "", new { area = "" })</li>
        <li class="list">@Html.ActionLink("Career Opportunities", "Viewvacancy", "Candidate", new { area = "" })</li>
        <li class="list">@Html.ActionLink("Home", "CandidateDashbord", "Candidate", new { area = "" })</li>


        @if (Session["Email"] != null && Session["rid"] != null)
        {
            <li class="list">
                <a href="#home">
                    <strong>Welcome @Session["Email"].ToString()</strong>
                </a>
            </li>
        }
        else
        {
            Response.RedirectToRoute("Default", new { controller = "Home", action = "Index" });
        }
        <li class="liof"> <img  src="~/Content/Images/logo.jpg" style="width: 40px; height: 50px; margin-left:10px;padding: 1px;" /></li>
        <li class="liof"><a href="#"><strong>Infotech Pvt Ltd</strong></a></li>
    </ul>
    @RenderBody()

    <footer class="bg-light text-dark text-center p-3 " >

        Infotech Pvt Ltd &copy; 2023
    </footer>
</body>
</html>
