<!DOCTYPE html>
<html lang="en">
<head>
    <title>INFOTECH PVT LTD</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation.unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>


    <link href="~/Content/CSS/HomeStyle.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Infotech Pvt Ltd</a>
            </div>
            <ul class="nav navbar-nav">

                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Aboutus", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>

                <li>@Html.ActionLink("Signup", "Signup", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Signin", "Signin", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Contactus", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>

            </ul>
        </div>
    </nav>



    @RenderBody()



    <footer class="bg-dark text-light text-center p-3">
        Infotech Pvt Ltd &copy; 2023
    </footer>
</body>
</html>
