@{
    Layout = null;
}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR Layout</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/CSS/HRStyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/hrnavbar.css" rel="stylesheet" />
</head>@if (Session["Email"] == null || Session["rid"] == null || Session["userType"]==null || Session["userType"].ToString() == "Candidate" )
{
    Response.RedirectToRoute("Default", new { controller = "Home", action = "Signin" });
}
<body style="background-color:rgb(238, 238, 238);">

    <ul class="unorderdlist">
        <li class="navbar_list">@Html.ActionLink("Logout", "Logout", "HR", new { area = "" })</li>
        <li class="navbar_list">@Html.ActionLink("Contact request", "Viewcontact", "HR", new { area = "" })</li>
        <li class="navbar_list">@Html.ActionLink("Account", "Getuserdetails", "", new { area = "" })</li>
        <li class="navbar_list">@Html.ActionLink("Add new member", "CeatenewHR", "", new { area = "" })</li>
        <li class="navbar_list">@Html.ActionLink("View applications", "Viewappliedlist", "HR", new { area = "" })</li>
        <li class="navbar_list">@Html.ActionLink("Manage job poster", "Viewvacancy", "HR", new { area = "" })</li>
        <li class="navbar_list">@Html.ActionLink("Create job poster", "Addvacancy", "HR", new { area = "" })</li>

        <li class="navbar_list">

            @Html.ActionLink("Home", "HRDashbord", "HR", new { area = "" })
        </li>
        <li><img class="logo-image" src="~/Content/Images/logo.jpg" /></li>
        <li class="cmpname"><strong>@Html.ActionLink("INFOTECH PVT LTD", "HRDashbord", "HR", new { area = "" })</strong></li>
    </ul>
    @RenderBody()
<footer class="bg-dark text-light text-center p-3">
    INFOTECH PVT LTD &copy; 2023
</footer>
</body>
</html>
