
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Vacancy</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/CSS/HRStyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>



    <ul class="unorderdlist">

        <li class="navbar_list">@Html.ActionLink("Logout", "Logout", "HR", new { area = "" })</a></li>
        <li class="navbar_list">@Html.ActionLink("Add new Member", "AddnewHR", "", new { area = "" })</li>
        <li class="navbar_list">@Html.ActionLink("View Applications", "Viewappliedlist", "HR", new { area = "" })</li>
        <li class="navbar_list">@Html.ActionLink("Manage vacancy", "Viewvacancy", "HR", new { area = "" })</li>

        <li class="navbar_list">@Html.ActionLink("Add Vacancy", "Addvacancy", "HR", new { area = "" })</li>
        <li class="navbar_list">@Html.ActionLink("Home", "HRDashbord", "HR", new { area = "" })</li>
        @if (Session["Email"] != null)
        {
            <li class="navbar_list">
                <a href="">
                    <strong>Welcome @Session["Email"].ToString()</strong>
                </a>
            </li>
        }
        else
        {
            Response.RedirectToRoute("Default", new { controller = "Home", action = "Index" });
        }
        <li class="liof"><a href="#"><strong>Infotech Pvt Ltd</strong></a></li>
    </ul>
    @RenderBody()

    <footer class="bg-dark text-light text-center p-3">
        Infotech Pvt Ltd &copy; 2023
    </footer>
</body>
</html>

