@model IEnumerable<Batch_32_Final_Project.Models.Contactus>

@{
    ViewBag.Title = "Viewcontact";
    Layout = "~/Views/Shared/HRLayout.cshtml";
}




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Command)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Command)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteContact", new { id=item.cid })
        </td>
    </tr>
}

</table>
