@model Batch_32_Final_Project.Models.Apply



@{
    ViewBag.Title = "Applyforvacancy";
    Layout = "~/Views/Shared/CandidateLayout.cshtml";
}

<div class="form-container bg-light" style="width:600px; margin-left:auto;margin-right:auto;padding:50px;">

    @using (Html.BeginForm("Applyforvacancy", "Candidate", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        {
            var vid = ViewBag.Vid as int?;
            @Html.Hidden("vid", vid)
        }



        @Html.AntiForgeryToken()


        <div class="form-horizontal">
            <h4>@ViewBag.Message </h4>
            <hr />



            <div class="form-group">
                @Html.LabelFor(model => model.Resume, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    <input type="file" name="Resume" accept=".doc,.docx,.pdf" />
                    @Html.ValidationMessageFor(model => model.Resume, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    <input type="file" name="Photo" accept="image/png,image/jpeg, image/jpg" />
                    @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Qualification, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Qualification, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Qualification, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Experiance, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Experiance, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Experiance, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" style="margin:20px;">
                    <input type="submit" value="Apply" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
</div>

