@model Batch_32_Final_Project.Models.Userdetails

@{
    ViewBag.Title = "Getuserdetails";
    Layout = "~/Views/Shared/CandidateLayout.cshtml";
}
<link href="~/Content/CSS/Userdetails.css" rel="stylesheet" />
@if (ViewBag.Message != null)
{<div class="text-bg-warn">
        <div class="text-center">
            @ViewBag.Message
        </div>
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="text-bg-info">
        <div class="text-center">
            @TempData["SuccessMessage"].ToString();
        </div>
    </div>
}
<div class="user-details-container">
    <div class="user-details-section">
        <div class="user-details">
            <h4 class="text-center">About me</h4>
            <hr />
            <div class="user-detail-row">
                <label>Firstname:</label>
                <span>@Html.DisplayFor(model => model.Firstname)</span>
            </div>
            <div class="user-detail-row">
                <label>Lastname:</label>
                <span>@Html.DisplayFor(model => model.Lastname)</span>
            </div>
            <div class="user-detail-row">
                <label>Date of Birth:</label>
                <span>@Html.DisplayFor(model => model.Dateofbirth)</span>
            </div>
            <div class="user-detail-row">
                <label>Gender:</label>
                <span>@Html.DisplayFor(model => model.Gender)</span>
            </div>
            <div class="user-detail-row">
                <label>Phone:</label>
                <span>@Html.DisplayFor(model => model.Phone)</span>
            </div>
            <div class="user-detail-row">
                <label>Email:</label>
                <span>@Html.DisplayFor(model => model.Email)</span>
            </div>
            <div class="user-detail-row">
                <label>Address:</label>
                <span>@Html.DisplayFor(model => model.Address)</span>
            </div>
            <div class="user-detail-row">
                <label>State:</label>
                <span>@Html.DisplayFor(model => model.State)</span>
            </div>
            <div class="user-detail-row">
                <label>City:</label>
                <span>@Html.DisplayFor(model => model.City)</span>
            </div>
            <div class="user-detail-row">
                <label>Pincode:</label>
                <span>@Html.DisplayFor(model => model.Pincode)</span>
            </div>
        </div>
        <div class="update-button">
            @Html.ActionLink("Update Details", "Updateuserdetails", null, new { @class = "btn btn-primary" })

        </div>
        <div class="update-button">
            @Html.ActionLink("Change Password", "ChangePassword", null, new { @class = "btn btn-primary" })

        </div>
    </div>
</div>
