@model Batch_32_Final_Project.Models.Userdetails

@{
    ViewBag.Title = "Getuserdetails";
    Layout = "~/Views/Shared/CandidateLayout.cshtml";
}
<link href="~/Content/CSS/Userdetails.css" rel="stylesheet" />
@if (ViewBag.Message != null)
{<div class="text-bg-warn">
        <div class="text-center">
            @ViewBag.Message
        </div>
    </div>
}


@{
    var successmessage = TempData["SuccessMessage"]?.ToString();
    if (!string.IsNullOrEmpty(successmessage))
    {
        TempData["SuccessMessage"] = null;
        <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: block; ">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Account info</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @successmessage
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal" onclick="closeModal()">Okay</button>
                    </div>
                </div>
            </div>
        </div>
    }
}

<script>
    function closeModal() {
        var modal = document.getElementById('exampleModal');
        modal.style.display = 'none';
    }
</script>

<div class="user-details-container">
    <div class="user-details-section">
        <div class="user-details">
            <h4 class="text-center">About me</h4>
            <hr />
            <div class="user-detail-row">
                <label>Firstname:</label>
                <span>@Html.DisplayFor(model => model.Firstname)</span>
            </div>
            <div class="user-detail-row">
                <label>Lastname:</label>
                <span>@Html.DisplayFor(model => model.Lastname)</span>
            </div>
            <div class="user-detail-row">
                <label>Date of Birth:</label>
                <span>@Html.DisplayFor(model => model.Dateofbirth)</span>
            </div>
            <div class="user-detail-row">
                <label>Gender:</label>
                <span>@Html.DisplayFor(model => model.Gender)</span>
            </div>
            <div class="user-detail-row">
                <label>Phone:</label>
                <span>@Html.DisplayFor(model => model.Phone)</span>
            </div>
            <div class="user-detail-row">
                <label>Email:</label>
                <span>@Html.DisplayFor(model => model.Email)</span>
            </div>
            <div class="user-detail-row">
                <label>Address:</label>
                <span>@Html.DisplayFor(model => model.Address)</span>
            </div>
            <div class="user-detail-row">
                <label>State:</label>
                <span>@Html.DisplayFor(model => model.State)</span>
            </div>
            <div class="user-detail-row">
                <label>City:</label>
                <span>@Html.DisplayFor(model => model.City)</span>
            </div>
            <div class="user-detail-row">
                <label>Pincode:</label>
                <span>@Html.DisplayFor(model => model.Pincode)</span>
            </div>
        </div>
        <div class="update-button">
            @Html.ActionLink("Update details", "Updateuserdetails", null, new { @class = "btn btn-primary" })

        </div>
        <div class="update-button">
            @Html.ActionLink("Change password", "ChangePassword", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
