@model IEnumerable<Batch_32_Final_Project.Models.Alldetailsofapplication>

@{
    ViewBag.Title = "Viewmyapplication";
    Layout = "~/Views/Shared/CandidateLayout.cshtml";
}

@if (ViewBag.Message != null)
{<div class="text-bg-warn">
        <div class="text-center">
            @ViewBag.Message
        </div>
    </div>
}


@{
    var successmessage = TempData["SuccessMessage"]?.ToString();
    if (!string.IsNullOrEmpty(successmessage))
    {
        TempData["SuccessMessage"] = null;
        <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: block; ">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Applications</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @successmessage
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal" onclick="closeModal()">Okay</button>
                    </div>
                </div>
            </div>
        </div>
    }
}

<script>
    function closeModal() {
        var modal = document.getElementById('exampleModal');
        modal.style.display = 'none';
    }
</script>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            Job Description
        </th>

        <th>
            @Html.DisplayNameFor(model => model.AppliedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interviewdate)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                <strong> @Html.DisplayFor(modelItem => item.JobTitle)</strong>

            <th>
                @Html.DisplayFor(modelItem => item.JobDescription)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.AppliedDate)
            </th>
            <th>
                <a href="data:application/pdf;base64,@item.Resume" target="_blank">View Resume</a>
            </th>
            <td>
                <img src="data:image;base64,@item.Photo" alt="Image" style="width:100px" />
            </td>
            <td>
                <strong>
                    @Html.DisplayFor(modelItem => item.Status)
                </strong>
            </td>
            <td>
                <strong>@Html.DisplayFor(modelItem => item.Interviewdate)</strong>
            </td>

            <td>@Html.ActionLink("Details of Application", "viewDetailsofapplication", new { id = item.aid }, new { @class = "btn btn-primary" })</td>


        </tr>
    }

</table>
