@model Batch_32_Final_Project.Models.Alldetailsofapplication

@{
    ViewBag.Title = "viewDetailsofapplication";
    Layout = "~/Views/Shared/CandidateLayout.cshtml";
}

<link href="~/Content/CSS/Statusapplication.css" rel="stylesheet" />
@if (ViewBag.Message != null)
{
    <div class="text-bg-warning">@ViewBag.Message</div>
}



<div class="user-details-container">
    <div class="user-details-section">
        <div class="user-details">
            <h4>Application For @Html.DisplayFor(model => model.JobTitle)</h4>
            <hr />
            <div class="user-detail-row">
                <label>Job Title:</label>
                <span>@Html.DisplayFor(model => model.JobTitle)</span>
            </div>

            <div class="user-detail-row">
                <label>Job Description:</label>
                <span>@Html.DisplayFor(model => model.JobDescription)</span>
            </div>
            <div class="user-detail-row">
                <label>Required Qualifications :</label>
                <span>@Html.DisplayFor(model => model.Qualifications)</span>
            </div>

            <div class="user-detail-row">
                <label>Department:</label>
                <span>@Html.DisplayFor(model => model.Department)</span>
            </div>
            <div class="user-detail-row">
                <label>Responsibilities:</label>
                <span class="text-justify">@Html.DisplayFor(model => model.Responsibilities)</span>
            </div>   <h4>Applicant Informations</h4>
            <hr />
            <div class="user-detail-row">
                <label>First Name:</label>
                <span>@Html.DisplayFor(model => model.Firstname)</span>
            </div>

            <div class="user-detail-row">
                <label>Last Name:</label>
                <span>@Html.DisplayFor(model => model.Lastname)</span>
            </div>

            <div class="user-detail-row">
                <label>Photo:</label>
                <img src="@("data:image;base64," + Model.Photo)" alt="Image" style="width:100px" />
            </div>
            <div class="user-detail-row">
                <label>Resume:</label>

                <embed src="@("data:application/pdf;base64," + Model.Resume)" type="application/pdf" width="400" height="300" />
            </div>
            <div class="user-detail-row">
                <label>Acadamic certificate:</label>
                <a href="data:application/pdf;base64,@Model.Acadamiccertificate" target="_blank"><strong>Certificate</strong></a>
            </div>
            @if (!string.IsNullOrEmpty(Model.Experiancecertificate))
            {
                <div class="user-detail-row">
                    <label>Experiance certificate:</label>
                    <a href="data:application/pdf;base64,@Model.Experiancecertificate" target="_blank"><strong>Certificate</strong></a>
                </div>
            }

            <div class="user-detail-row">
                <label>Qualification :</label>
                <span>@Html.DisplayFor(model => model.Qualification)</span>
            </div>
            <div class="user-detail-row">
                <label>Email:</label>
                <a href="mailto:@Html.DisplayFor(model => model.Email)">@Html.DisplayFor(model => model.Email)</a>
            </div>

            <div class="user-detail-row">
                <label>Contact number:</label>
                <span>@Html.DisplayFor(model => model.Phone)</span>
            </div>
            <div class="user-detail-row">
                <label>Applied on :</label>
                <span>@Html.DisplayFor(model => model.AppliedDate)</span>
            </div>
            <div class="user-detail-row">
                <label>Description:</label>
                <span>@Html.DisplayFor(model => model.Description)</span>
            </div>

            <div class="user-detail-row">
                <label>Experiance:</label>
                <span>@Html.DisplayFor(model => model.Experiance)</span>
            </div>
            <div class="user-detail-row">
                <label>Status:</label>
                <span>@Html.DisplayFor(model => model.Status)</span>
            </div>
            <div class="user-detail-row">
                <label>Interview Date:</label>
                <span>@Html.DisplayFor(model => model.Interviewdate)</span>
            </div>
            <div class="user-detail-row">
                <span>@Html.ActionLink("Withdraw Application", "Withdrawapplication", new { aid = Model.aid }, new { @class = "btn btn-danger" })</span>
                <span></span>
                <span>@Html.ActionLink("Update Application", "Updateapplication", new { id = Model.aid }, new { @class = "btn btn-primary" })</span>

            </div>
        </div>
    </div>
    </div>