
@model IEnumerable<Batch_32_Final_Project.Models.Vacancy>

@{
    ViewBag.Title = "GetallVacancy";
    Layout = "~/Views/Shared/CandidateLayout.cshtml";
}

<style>
    .card {
        margin: 10px;
        padding: 10px;
    }
</style>
<div class="container" style="margin-bottom:100px;">
    <div class="row justify-content-around">
        @foreach (var vacancy in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="vacancy-item">
                        <div class="card-header">Job Title: @vacancy.JobTitle</div>
                        <div>Vacancy ID: @vacancy.vid</div>
                        <div> @vacancy.JobDescription</div>
                        <div>Open Date: @vacancy.PostedDate</div>
                        <div class="card-text">Close Date: @vacancy.LastDateToApply</div>
                        <div class="card-footer">
                            @Html.ActionLink("View Details", "ViewVacancyDetails", new { id = vacancy.vid }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Apply", "Applyforvacancy", new { vid = vacancy.vid }, new { @class = "btn btn-success" })

                        </div>
                    </div>

                </div>
            </div>
        }
    </div>

</div>





