@model IEnumerable<Batch_32_Final_Project.Models.Vacancy>

    @{
        ViewBag.Title = "ViewVacancyDetails";
        Layout = "~/Views/Shared/CandidateLayout.cshtml";
    }
<div class="form-container bg-light" style="width:600px; margin-left:auto;margin-right:auto;padding:50px;">

    <link href="~/Content/CSS/table.css" rel="stylesheet" />
    <table>
        @foreach (var vacancy in Model)
        {

            <tr>
                <th>Job Title</th>
                <th>@vacancy.JobTitle</th>
            </tr>
            <tr>
                <th>Job Description</th>
                <th>@vacancy.JobDescription</th>
            </tr>
            <tr>
                <th>Department</th>
                <th>@vacancy.Department</th>
            </tr>
            <tr>
                <th>Location</th>
                <td>@vacancy.Location</td>
            </tr>
            <tr>
                <th>Number of Openings</th>
                <th>@vacancy.NumberOfOpenings</th>
            </tr>
            <tr>
                <th>Qualification</th>
                <th>@vacancy.Qualification</th>
            </tr>
            <tr>
                <th>Responsibilities And Duties</th>
                <td>@vacancy.ResponsibilitiesAndDuties</td>
            </tr>
            <tr>
                <th>Salary Range</th>
                <td>@vacancy.SalaryRange</td>
            </tr>
            <tr>
                <th>Posted Date</th>
                <td>@vacancy.PostedDate</td>
            </tr>
            <tr>
                <th>LastDate To Apply</th>
                <td>@vacancy.LastDateToApply</td>
            </tr>
            <tr>
                <th>Recruiter In Charge</th>
                <td>@vacancy.RecruiterInCharge</td>
            </tr>
            <tr>
                <th>Interview Rounds</th>
                <td>@vacancy.InterviewRounds</td>
            </tr>
            <tr>
                <th>HR EMail</th>
                <td><a href="mailto:@vacancy.Createdby">@vacancy.Createdby</a</td>
            </tr>
            <tr>
                <th>SelectionProcess</th>
                <td>@vacancy.SelectionProcess</td>
            </tr>
            <tr>
                <td> @Html.ActionLink("<<Back", "Viewvacancy", new { vid = vacancy.vid }, new { @class = "btn btn-primary" })</td>
                <td>  @Html.ActionLink("Apply", "Applyforvacancy", new { vid = vacancy.vid }, new { @class = "btn btn-success" })</td>

            </tr>
        }
    </table>

    </div>