@model Batch_32_Final_Project.Models.Contactus

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<h2>Contact</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="table-bordered" style="width:600px; margin-left:auto;margin-right:auto;padding:50px;">
        <div class="form-horizontal">
            <h4>Contactus</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Command, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Command, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Command, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-10">
                    <input type="submit" value="Contact" class="btn btn-primary" />
                </div>
            </div>
        </div>
        
    </div>

}
    <h3 class="text-center" style="color: rgb(224, 80, 36); margin-top: 30px;">Our Branches</h3>
    <div class="container" style="margin-bottom:100px;">
        <div class="row justify-content-around">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Kochi (Head Office)</h5>
                        <p class="card-text">First Floor, VJ Tower, Kochi</p>
                        <p class="card-text">Phone: +91 7594055036</p>
                        <p class="card-text"><a href="mailto:Infotechkochi@mail.com">Infotechkochi@mail.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tamil Nadu</h5>
                        <p class="card-text">Chennai 600029</p>
                        <p class="card-text">Phone: +919778413274</p>
                        <p class="card-text"><a href="mailto:Infotechchennai@mail.com">Infotechchennai@mail.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Dubai</h5>
                        <p class="card-text">02-01 Mai tower, Al Nahda 1, Dubai</p>
                        <p class="card-text">Phone: +97 8210290772</p>
                        <p class="card-text"><a href="mailto:Infotechdubai@mail.com">Infotechdubai@mail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

 
