@model Batch_32_Final_Project.Models.Login

@{
    ViewBag.Title = "Signin";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
<script src="~/Content/JS/siginin.js"></script>
<script src="~/Content/JS/Preventbackt.js"></script>
<link href="~/Content/CSS/login.css" rel="stylesheet" />
<script>
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="table-bordered" style="width: 600px; border-radius: 40px; color: rgb(10, 25, 77); margin-left: auto; margin-right: auto; padding: 40px; background-image: url('@Url.Content("~/Content/Images/image2.jpg")'); background-size: cover;">

        <div class="bg-info text-center">@ViewBag.Message</div>
        <h1 class="text-center">Sign in</h1>
        <div class="form-group"></div>
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-form-labell col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", onfocusout = "validateemail()" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    <div><small id="warnemail" style="text-align: center; color: red;"></small></div>
                </div>
            </div>

            <div class="form-group"></div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-form-labell col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", onfocusout = "validatepssword()" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    <div><small id="passwordwarn" style="text-align: center; color: red;"></small></div>
                </div>
            </div>
            <div class="form-group  text-center">
                <input type="checkbox" placeholder="Remember me" style=" ">Remember me
                <a style="text-decoration: none; float:right;" href="">Forgot password?</a>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-6">
                    <input type="submit" value="Sign in" class="btn btn-primary" />
                </div>
            </div>
            <div class="form-group text-center">
            </div>
            <div class="form-group  text-center">
                Not a member? <a href="Signup" style="text-decoration: none;  padding-left:10px;"> Sign up now</a>
            </div>
        </div>
    </div>

}


